@import url("/styles/atom-one-dark.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
}


html {
}